html {
  font-family: 'Open Sans', sans-serif;
}

.pdf {
  position: fixed;
  width: 100%;
  height: 100%;
}

.navbar-fixed .nav-wrapper .brand-logo img {
  height: 2em;
  padding: 0.4em;
}

nav .button-collapse i {
  padding-left: 0.5em;
  color: #ffffff;
}

h1,
h2,
h3 {
  color: #176ABD;
  text-align: center;
  font-weight: 600;
}

h2 {
  margin-top: 0;
}

h4 {
  color: #176ABD;
  text-align: center;
}

valign-wrapper {
  width: 100%;
}

.meConhece {
  margin-bottom: 0;
  padding-left: 15%;
}

.progress .indeterminate {
  background-color: #176ABD;
}

#sobre .responsive-img {
  height: auto;
  float: left;
  position: relative;
}

#sobre span {
  color: #176ABD;
  float: top;
  text-align: justify;
}

.chip {
  margin: 0.6%;
}

form:focus {
  color: #176ABD;
}

.btn {
  position: relative;
  background-color: #1976D2;
}

.btn:hover {
  background-color: #176ABD;
}

#iconeBtnEnviar {
  font-size: 2em;
  padding-top: -2em;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #176ABD;
  box-shadow: 0 1px 0 0 #176ABD;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #176ABD;
  box-shadow: 0 1px 0 0 #176ABD;
}

.input-field input[type=text]:focus+label {
  color: #176ABD;
}

.input-field input[type=email]:focus+label {
  color: #176ABD;
}

.input-field .prefix.active {
  color: #176ABD;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #176ABD;
  box-shadow: 0 1px 0 0 #176ABD;
}

textarea.materialize-textarea:focus:not([readonly])+label {
  color: #176ABD;
}

.side-nav a {
  display: inline-block;
  color: #176ABD;
  width: 100%;
}

.text-indent {
  text-indent: 2em;
}

.justify {
  text-align: justify;
}

.pLittle {
  font-size: 10px;
}

.fontsize18 {
  font-size: 18px !important;
}

.psm {
  font-size: 10px;
}

.f100 {
  font-size: 100%;
}

.azul {
  color: #176ABD !important;
}

.pMenor {
  font-size: 13px;
}

.pMedio {
  font-size: 16px;
}

.pGrande {
  font-size: 18px;
}

.btnEnviar {
  margin: 40px;
}

.vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}

.texto {
  padding: 0% 7% 0% 7% !important;
}

.texto p {
  text-align: justify;
  text-indent: 1em;
}

.brand-logo {
  height: 100%;
}

.midias {
  padding-top: 4%;
}

#contactForm {
  -webkit-appearance: none;
}


/*MEDIA QUERIES NOVAS*/


/*Smartphones (modo retrato e paisagem) */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .texto p {
    font-size: 1.5em;
  }
}


/*Ipads (modo retrato e paisagem) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .texto p {
    font-size: 1.5em;
  }
}


/* Desktops and laptops */

@media only screen and (min-width: 1224px) {
  .texto p {
    font-size: 1.3em;
  }
  #contato {
    margin: 40px !important;
  }
}


/* Large screens */

@media only screen and (min-width: 1824px) {
  /* Styles */
}


/*MEDIA QUERIES ANTIGAS */

@media only screen and (min-width: 860px) {
  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  section .flow-text {
    font-size: 80%;
  }
  .social {
    margin-bottom: 0;
  }
}

@media only screen and (max-device-width: 860px) {
  h1 {
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
  }
  section .flow-text {
    font-size: 75%;
    text-align: justify;
  }
  .social {
    margin-bottom: 0;
  }
}

@media only screen and (max-device-width: 760px) {
  h1 {
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
  }
  section .flow-text {
    font-size: 65%;
    text-align: justify;
  }
  .social {
    margin-bottom: 0;
  }
}

@media only screen and (max-device-width: 702px) {
  h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
  }
  section .flow-text {
    font-size: 65%;
    text-align: justify;
  }
  .social {
    margin-bottom: 0;
  }
}

@media only screen and (max-device-width: 623px) {
  h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: 0;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 1.2em;
  }
  section .flow-text {
    font-size: 50%;
    text-align: justify;
  }
  p {
    line-height: 1;
    line-height: 1;
  }
  .social {
    margin-bottom: 0;
  }
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}